# Git
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.changelogs.md export-ignore

# Development files
ecs.php export-ignore
composer.lock export-ignore
vendor/ export-ignore