<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2023 Pixel Développement
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pixel_open_plausible" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Plausible</label>
            <tab>service</tab>
            <resource>PixelOpen_Plausible::settings</resource>
            <group id="tracking" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tracking</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="instance_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Instance URL</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="admin" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Admin</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows to display stats in the "Marketing > Plausible > Analytics" menu (refresh cache when option is updated)</comment>
                </field>
                <field id="shared_link" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Link</label>
                    <validate>required-entry</validate>
                    <comment>Create the shared link in your Plausible instance site settings: Visibility > Shared links > + New link</comment>
                    <depends>
                        <field id="*/admin/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="goals" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Goals</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable goal events</comment>
                </field>
                <field id="contact" translate="comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Contact</label>
                    <comment>Plausible goal name when customer send a contact message. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
                <field id="register" translate="comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Register</label>
                    <comment>Plausible goal name when creating the customer account. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
                <field id="login" translate="comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Login</label>
                    <comment>Plausible goal name when customer was connected. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
                <field id="cart" translate="comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Cart</label>
                    <comment>Plausible goal name when customer goes to the cart. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
                <field id="checkout" translate="comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Checkout</label>
                    <comment>Plausible goal when customer access the checkout. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
                <field id="order" translate="comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Goal Order</label>
                    <comment>Plausible goal name when customer completes an order. Leave empty to ignore.</comment>
                    <depends>
                        <field id="*/goals/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="revenue_tracking" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Revenue Tracking</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Revenue Tracking (Plausible business plan only). Revenue is sent with the order goal.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
